# Built outputs
*.iml
.gradle
/build
/app/build
/captures
.externalNativeBuild
.cxx

# IDE
/.idea
.DS_Store
*.swp
*~

# Local config
/local.properties
*.keystore
*.jks

# Signing
/app/release/
/seu-door-aligned.apk

# OS
Thumbs.db
web/
dex_dump/
dex_sources/
alipay_sdk_decompiled/
